@mixin box_style($bg-color) {
  width: 320px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
}

.one {
  @include box_style(red);
}

.two {
  @include box_style(pink);
}
