@mixin box_style {
  width: 320px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
}

.one {
  @include box_style;
}

.two {
  @include box_style;
}
